/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@300;400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: #FFDB89;
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 77%);
  --body-color: hsl(0, 0%, 6%);
  --container-color: hsl(0, 0%, 10%);
  --border-color: hsla(0, 0%, 100%, 0.2);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;

  --big-font-size: clamp(3rem, 0.9706rem + 4.7059vw, 4.5rem);
  --h1-font-size: clamp(1.75rem, 0.9265rem + 3.7647vw, 3.75rem);
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.875rem;

  /*========== Font weight ==========*/
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-900: 900;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

  /*========== Border Radius ==========*/
  --radius: 0.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --header-height: 5rem;

    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.9375rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-300);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.67em;
}

img {
  max-width: 100%;
}

textarea,
input {
  background-color: transparent;
  border: none;
  outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1260px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.grid {
  display: grid;
  gap: 1.75rem;
}

.section {
  padding-block: 5rem;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.section__title:not(.about .section__title, .contact .section__title),
.section__description {
  text-align: center;
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 3.75rem;
}

.btn {
  display: inline-block;
  color: var(--title-color);
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  padding: 1rem 2.5rem;
  border-radius: var(--radius);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s var(--transition);
}

.btn:hover {
  color: black;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}

.nav,
.nav__list,
.nav__socials {
  display: flex;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  align-items: center;
  justify-content: space-between;
  column-gap: 3.5rem;
}

.nav__logo {
  color: var(--title-color);
  font-size: 2.3rem;
  font-weight: var(--weight-700);
}

.nav__logo span {
  color: var(--first-color);
}

.nav__list {
  column-gap: 2rem;
}

.nav__link,
.nav__social-link {
  font-size: var(--small-font-size);
  color: var(--title-color);
  transition: all 0.3s var(--transition);
}

.nav__link {
  font-weight: var(--weight-500);
}

.nav__socials {
  column-gap: 1.5rem;
  margin-left: auto;
}

.nav__social-link:hover {
  color: var(--first-color);
  transform: translateY(-0.25rem);
}

.nav__link-btn {
  font-size: var(--smaller-font-size);
  background-color: var(--first-color);
  border-color: var(--border-color);
  padding: 0.625rem 1.25rem;
  color: black;
}

.nav__link-btn:hover {
  color: white;
}

.nav__toggle,
.nav__close {
  display: none;
}

/* Active link */
.active-link,
.nav__link:hover {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  position: fixed;
  background-color: var(--container-color);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  animation: slide-down 0.7s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.scroll-header .nav {
  height: var(--header-height);
}

/*=============== HOME ===============*/
/*Section01*/

.owl-carousel img{height:100vh;width:auto;object-fit:cover; ;}
.typing{display: inline-block; white-space: nowrap;overflow-x: hidden;}
.headline{ z-index: 10;content: "";position: absolute; inset: 0;margin: auto;top: 58%; text-align: center; display:inline-block;white-space: normal;}
.headline h1{ text-shadow: 2px 2px gray;font-size: var(--big-font-size);   font-weight: 500;font-family: 'Times New Roman', Times, serif, cursive;text-shadow: #f2f2f2; height:auto;}
.headline p{ font-size: var(--h2-font-size); font-style: italic; margin-bottom: 2rem; color:white;font-weight: 600; font-style:oblique;}
.pic01 p{color:white;text-shadow: 2px 2px black;}
.pic02 p{color:white;text-shadow: 2px 2px black;}


@keyframes cssAnimation {to   { visibility: visible; }}
.headline p {/*animation-delay: 1s;*/border-right: 0.1rem solid; width: 100%; white-space: nowrap; overflow: hidden; visibility: hidden; animation: typing 2.5s steps(27, end), cssAnimation 0s 1s forwards,   cursor-blink 0.5s step-end infinite alternate; animation-delay: 2s;   }

@keyframes typing {from {  width: 0;}}
@keyframes cursor-blink {50% {  border-color: transparent;}}






/*=============== ABOUT ===============*/
.about {
  background-color: white;
  height: 92vh;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .about {
    height: auto;
  }
}

.about p {
  color: black;
}

.about h2 {
  color: var(--first-color);
}

.about span {
  color: black;
}

.about__container {
  grid-template-columns: 5fr 7fr;
  align-items: center;
  column-gap: 4rem;
}

.about__img {
  border-radius: var(--radius);
  height: 80%;
}

.about__description {
  margin-bottom: 2rem;
}

.about__content h2 {
  text-align: center;
}

.tabs__btns {
  display: flex;
  column-gap: 2.5rem;
  margin-bottom: 1.25rem;
}

.tabs__btn,
.tabs__description span:first-child {
  font-weight: var(--weight-600);
}

.tabs__description span.personal {
  font-weight: 500;
}

.tabs__btn {
  cursor: pointer;
  color: var(--title-color);
  position: relative;
  padding-bottom: 0.5rem;
}

.tabs__btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s var(--transition);
}

.tabs__data {
  row-gap: 1rem;
}

.tabs__description span:last-child {
  display: block;
}

/* Active tab */
.tabs__btn.tab__active {
  color: var(--first-color);
}

.tabs__btn.tab__active::after {
  background-color: var(--first-color);
  width: 100%;
}

.tabs__item[data-content] {
  display: none;
}

.tab__active[data-content] {
  display: block;
}

/* Portfolio ..................................................................*/


.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/*.gallery*/
.gallery {
  width: 100%;
  display: block;
  min-height: 100vh;
  background-color: #2a2932;
  padding: 100px 0;
}

.gallery .gallery-filter {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.gallery .gallery-filter .filter-item {
  color: black;
}

.gallery .gallery-filter .filter-item.active {
  color: white;
  border-color: var(--first-color);
  background: var(--first-color);
}

.gallery .gallery-item {
  width: calc(100% / 3);
  padding: 15px;
  transition: transform .25s ease;
}

.gallery .gallery-item:hover {
  transform: scale(1.05);
}

.gallery .gallery-item-inner img {
  width: 100%;
  border: 3px solid #d4dad9;
}

.gallery .gallery-item.show {
  animation: fadeIn 0.5s ease;
}

.SeeMore {
  text-align: center;
  margin-top: 2rem;
}

.SeeMore a {
  font-size: 1rem;
  border: 3px solid var(--first-color);
  text-decoration: none;
  text-align: center;
  padding: 6px 15px;
  background-color: white;
  border-radius: 6px;
  color: black;
  font-weight: 500;
}

.SeeMore a:hover {
  background-color: var(--first-color);
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gallery .gallery-item.hide {
  display: none;
}

/*responsive*/
@media (max-width: 1000px) {
  .gallery .btn {
    padding: 5px;
  }
}

@media (max-width: 700px) {
  .gallery .gallery-item {
    padding: 5px;
  }
}

@media (max-width: 491px) {
  .gallery .gallery-item {
    width: 50%;
  }
}

@media (max-width: 467px) {
  .gallery .gallery-item {
    width: 100%;
  }

  .gallery .gallery-filter .filter-item {
    margin-bottom: 10px;
  }
}

/*=============== Packages ===============*/
.cardss {
  border: 5px solid red;
}

.content {
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .card {
  background: #fff;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 30px 30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--first-color);
  border-radius: .5rem;
  transition: transform .25s ease;
}

.content .card:hover {
  transform: scale(1.05);
}

.content .card .top {
  height: 130px;
  color: #fff;
  padding: 12px 0 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}

.content .card .top .title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #d0f9fb;
  margin-bottom: .5rem;
}

.content .card .top .price-sec {
  margin-top: -10px;
  font-weight: 600;
}

.content .card .top .price {
  font-size: 2rem;
}

.content .card .info {
  font-size: 16px;
  margin-top: 20px;
  color: #2a2932;
  font-weight: 600;
}

.content .card .details .one {
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content .card .details .one::before {
  position: absolute;
  content: "";
  width: 100%;
  background: #ddd;
  height: 1px;
  left: 0;
  top: -12px;
  border-radius: 25px;
}

.one span {
  color: black;
}

span.price {
  color: white;
}

span.dollar {
  color: white;
}

.content .card .details .one i {
  color: #2db94d;
}

.content .card .details i.fa-times {
  color: #cd3241;
}

.content .card button {
  outline: none;
  border: none;
  height: 42px;
  color: #fff;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
}

button a {
  color: white;
}



.content .one .top,
.content .one button {
  background: #0B2447;
}

.content .two .top,
.content .two button {
  background: #301E67;
}

.content .three .top,
.content .three button {
  background: #576CBC;
}

.content button:hover {
  filter: brightness(70%);
}

.content .one ::selection {
  background: var(--first-color)
}

.content .two ::selection {
  background: #f2b08c;
}

.content .three ::selection {
  background: #d0f9fb;
}

@media (max-width:1000px) {
  .content .card {
    background: #fff;
    width: calc(50% - 20px);
    margin-bottom: 30px;
  }
}

@media (max-width:715px) {
  .content .card {
    width: 100%;
  }
}

/*=============== WORK ===============*/
.portfolio {
  background-color: var(--container-color);
}

.portfolio__container {
  grid-template-columns: repeat(3, 1fr);
}

.portfolio__item {
  position: relative;
  cursor: pointer;
  border-radius: var(--radius);
  overflow: hidden;
}

.portfolio__item::after,
.portfolio__data {
  position: absolute;
  transition: all 0.65s var(--transition);
}

.portfolio__item::after {
  content: "";
  inset: 0;
  background: linear-gradient(180deg, transparent, var(--first-color));
  opacity: 0;
}

.portfolio__img {
  width: 100%;
  vertical-align: middle;
  transition: all 1s var(--transition);
}

.portfolio__data {
  inset-inline: 2rem;
  bottom: 1.25rem;
  text-align: center;
  z-index: var(--z-tooltip);
}

.portfolio__subtitle,
.portfolio__description {
  color: var(--title-color);
  opacity: 0.7;
}

.portfolio__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.portfolio__title {
  font-size: var(--h2-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 0.75rem;
}

.portfolio__description {
  font-weight: var(--weight-400);
  display: none;
}

.gallery-filter span {
  margin-right: 1rem;
}

/* Work hover */
.portfolio__item:hover::after {
  opacity: 1;
}

.portfolio__item:hover .portfolio__img {
  transform: scale(1.1);
}

.portfolio__item:hover .portfolio__description {
  display: block;
}

.portfolio__item:hover .portfolio__data {
  transform: translateY(-2rem);
}

/*=============== Testimonials ===============*/
.testimonial_container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.testimonial {
  position: relative;
  max-width: 1000px;
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
  max-height: 800px;
}

.testimonial h1 {
  color: white;
}

.testimonial .image {
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
  border: 5px none black;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: var(--radius);
  border: 3px double #e3ca66;
}

.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  font-style: italic;
}

.slide .quote-icon {
  font-size: 30px;
  color: black;
  margin: 0;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.details .name {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.details .job {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.quote-icon {
  margin: 10px;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination {
  bottom: 30px;
}

.swiper-pagination-bullet-active {
  background-color: #e3ca66;
  width: 30px;

  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }

  .nav-btn {
    display: none;
  }
}

/*=============== CONTACT ===============*/
.contact__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.contact__description,
.contact__input {
  font-weight: var(--weight-400);
}

.contact__description {
  margin-bottom: 3rem;
}

.contact__description a {
  color: var(--title-color);
  font-weight: var(--weight-500);
}

.contact__form {
  position: relative;
}

.contact__input {

  border: 2px solid var(--border-color);
  padding: 0.8rem 1.25rem;
  width: 100%;
  border-radius: var(--radius);
  font-size: var(--smaller-font-size);
  margin-bottom: 1.25rem;
}

.submit {
  text-align: center;
}

.textarea {
  height: 120px;
  resize: none;
}

.error__message {
  position: absolute;
  bottom: -12%;
  left: 0;
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
}

.color-first {
  color: var(--first-color);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--container-color);
  padding-block: 2rem;
}

.footer__container {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer__logo {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: var(--weight-700);
}

.footer__logo span {
  color: var(--first-color);
}

.footer__socials {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: var(--small-font-size);
  border: 2px solid var(--text-color);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.3s var(--transition);
}

.footer__social-link:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.footer__copyright {
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  justify-self: flex-end;
}
.footer__copyright a{color:white;}
.footer__copyright a:hover{color: var(--first-color);}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -100%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  z-index: var(--z-fixed);
  transition: all 0.4s var(--transition);
}

.scrollup__icon {
  color: var(--first-color);
  font-size: 2.25rem;
  line-height: 1;
}

/* Show scrollup */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .nav__btns {
    display: none;
  }

  .home {
    padding-top: 11rem;
  }

  .home__container,
  .about__container {
    grid-template-columns: 1fr;
  }

  .home__container {
    row-gap: 2rem;
  }

  .home__content {
    order: 1;
  }

  .home__img,
  .about__img {
    margin-inline: auto;
  }

  .home__img {
    border: 0.5rem solid var(--container-color);
    width: 400px;
    height: 400px;
  }

  .about__container {
    row-gap: 2.5rem;
  }

  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .nav {
    height: var(--header-height);
    column-gap: 1.25rem;
  }

  .nav__logo {
    font-size: 2rem;
  }

  .nav__btns,
  .nav__toggle,
  .nav__close {
    display: block;
    padding:1px 4px;
    border-radius: 6px;
    background-color:#333;
  }

  .nav__link-btn {
    display: none;
  }

  .aboutMe {
    display: inline-block;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60vw;
    height: 100vh;
    background-color: var(--container-color);
    padding: 3.5rem;
    transition: all 0.8s var(--transition);
  }

  .show-menu {
    right: 0;
  }

  .nav__list {
    flex-direction: column;
    row-gap: 1.125rem;
  }

  .nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .nav__socials {
    column-gap: 1rem;
  }

  .nav__toggle {
    font-size: var(--h2-font-size);
  }

  .nav__close,
  .nav__toggle {
    cursor: pointer;
  }

  .home {
    padding-top: 9rem;
  }

  .home__img {
    width: 320px;
    height: 320px;
  }

  .services__icon {
    font-size: 2.5rem;
  }

  .services__title {
    margin-block: 1.5rem 1rem;
  }

  .contact__container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .contact__content {
    order: 1;
  }

  .contact__description {
    margin-bottom: 2rem;
  }

  .footer__social-link {
    font-size: var(--smaller-font-size);
    width: 36px;
    height: 36px;
  }

  .scrollup {
    width: 42px;
    height: 42px;
  }

  .scrollup__icon {
    font-size: 2rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .home__img {
    width: 280px;
    height: 280px;
  }

  .tabs__btns {
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 1.5rem;
  }

  .services__container,
  .portfolio__container,
  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer__container {
    row-gap: 1.5rem;
    justify-items: center;
  }

  .footer__copyright {
    justify-self: center;
  }
}

@media screen and (max-width: 576px) {
  .nav__menu {
    width: 100vw;
    padding: 2.75rem;
  }

  .home__img {
    width: 260px;
    height: 260px;
  }

  .services__item {
    padding: 2rem 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .home__img {
    width: 240px;
    height: 240px;
  }

  .tabs__description span:last-child {
    display: inline;
  }

  .portfolio__data {
    inset-inline: 1rem;
    bottom: 1rem;
  }
}
